@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-accelerate {
        animation-delay: -2000ms;
    }
    .blob-color {
        background-color: #fffd88;
    }
}

body {
    font-family: 'Inter', sans-serif;
}

@layer components {
    .hamburger div:first-child {
        @apply rotate-45 scale-90 translate-y-[0.5rem];
    }
    .hamburger div:nth-child(2) {
        @apply scale-0;
    }
    .hamburger div:last-child {
        @apply -rotate-45 scale-90 -translate-y-[0.25rem];
    }
}

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    @apply bg-secondary text-white dark:text-dark py-1 px-3 rounded-2xl font-semibold max-w-full transition duration-500 ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.466) 0px 2px 1px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 30%, white 70%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scrolling 50s linear infinite;
}

.scroller[data-animated="true"] .scroller__inner:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.masking {
    mask: linear-gradient(90deg, transparent, #141822 30%, #141822 70%, transparent);
}

/* Tambahkan aturan khusus di bawah ini */
.toggle-circle {
    @apply absolute;
    transition: transform 0.2s ease-in-out;
}

/* Posisi default bundaran (Light Mode - Sun) */
#dark-toggle-mobile:checked + label .toggle-circle {
    transform: translateX(100%);
}
#dark-toggle-desktop:checked + label .toggle-circle {
    transform: translateX(100%);
}

.shadow-toggle {
    box-shadow: rgba(0, 0, 0, 0.481) 0px 0px 1px;
}
